body {
  background-color: #efefef;
  font-family: "Lucida Grande", sans-serif;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

aside {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}
aside .close, aside .minimize {
  background-color: #ba0a19;
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-right: 4px;
  color: white;
  text-align: center;
  padding: 0;
  line-height: 10px;
  border-bottom: 3px solid #5d050c;
}

aside .minimize {
  background-color: #9aff97;
  color: #000;
  border-bottom: 3px solid #68ac66;
}

aside .close:hover, aside .minimize:hover {
  border: 0;
}
.content {
  position: relative;
  padding: 30px 15px;
}
.inner-content {
  height: 435px;
  background-color: #fff;
  padding: 0 20px;
}
h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 50px;
  background: url(../img/key.png) bottom -20px center no-repeat;
  background-size: 90px auto;
}
.citation {
  margin-top: 10px;
  font-size: 11px;
  font-style: italic;
}

.main {
  border: 1px solid #bababa;
  background: #ebebeb;
  padding: 10px 15px;
  max-height: 500px;
  opacity: 1;
  transition: all .3s ease;
}
.main.hidden {
  opacity: 0;
  max-height: 0;
}
.help {
  font-size: 14px;
  text-align: left;
}
input[type="text"], input[type="password"] {
  width: 94%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #bababa;
  margin-bottom: 7px;
  padding: 0 3%;
}
.submit {
  width: 100%;
  height: 30px;
  background-color: #9aff97;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 3px solid #68ac66;
}
.submit:hover {
  border: 0;
}

button {
  cursor: pointer;
}
button, input {
  -webkit-app-region: no-drag;
}